{% extends 'mainApp/base.html'%}
{% block content %}
{% load static %}
    
    <h1>Login</h1>
<br/>


        <form method=POST>
            {% csrf_token %}
        
            <form>
                <div class="form-floating mb-3">
                  <i class="icon fa-solid fa-user fa-lg"></i>
                  <input type="text" class="form-control" name="username" aria-describedby="emailHelp" id="username">
                  <label for="username">User Name</label>
                </div>

                <div class="form-floating mb-3">
                  <i class="icon fa-solid fa-key fa-lg"></i>
                  <input type="password" class="form-control" name="password" id="password">
                  <label for="password">Password</label>
                </div>
                
              
            


            <input type="submit" value="Submit" class="btn btn-secondary">

        </form>
    
  
<br/><br/>
{% endblock %}