{% extends 'mainApp/base.html'%}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
    <center>
    <h1 class="courier">Add Item</h1>
    <br/><br/>

    <form method="POST">
        {% csrf_token %}

        <div class="form-floating mb-3">
            <i class="icon fa-solid fa-file-signature fa-lg"></i>
            <input type="text" name="item_name" class="form-control" placeholder="Name" id="name">
            <label for="name" class="courier">Name</label>
        </div>

        <div class="form-floating mb-3">  
            <i class="icon fa-solid fa-list-ol fa-lg"></i>     
            <input type="text" name="item_quantity" class="form-control" placeholder="Quantity" id="quantity">
            <label for="quantity" class="courier">Quantity</label>
        </div> 

        <button type="submit" value="Submit" class="btn btn-outline-secondary" id="courier">
            <i class="fa-solid fa-circle-check"></i> Submit
        </button>

    </form>
    </center>
{% else %}
<h3>Sorry, You Are Not Able To View This Page(I Explained This On The Home Page, Try To Keep Up).</h3>
{% endif %}

{% endblock %}