{% extends 'mainApp/base.html'%}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
    <h1 class="courier">Add Item</h1>
    <br/><br/>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }} 

        <button type="submit" value="Submit" class="btn btn-outline-secondary" id="courier">
            <i class="fa-solid fa-circle-check"></i> Submit
        </button>

    </form>
{% else %}
<h3>Sorry, You Are Not Able To View This Page(I Explained This On The Home Page, Try To Keep Up).</h3>
{% endif %}

{% endblock %}