{% extends 'mainApp/base.html'%}

{% block content %}
    <center>
    <h1>Home</h1>
    <br/><br/>

    <p>
        <button class="btn btn-outline-info btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          Welcome to the Home page!
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 300px;">
            Directions:

            <br/>First you should login (otherwise, you couldn't do much).
            <br/>Next, you should create a box in the 'create box tab up there &#8593'.
            <br/>Then, you should create an item in the box (you will find that in box list, also up there &#8593).
            <br/>Finally, repeat all the steps all over again! (you should do step 3 (the step above) more often).
        </div>
        </div>
      </div>
    </center>
{% endblock %}