{% extends 'mainApp/base.html'%}

{% block content %}
    <center>
    <h1>Home</h1>
    <br/><br/>

    <p>
        <button class="btn btn-outline-info btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
          <code class="language-html">Welcome to the Home page!<br/>(I recommend clicking this if you are new)</code>
        </button>
      </p>
      <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
          <div class="card card-body" style="width: 300px;">
            <p class="text-primary text-opacity-5 fw-bold font-monospace">
              <strong>
            Directions:
            <br/>First you should login/register (otherwise, you couldn't do much <i class="fa-solid fa-face-smile-wink"></i>).
            <br/>Next, you should create a box in the 'create box tab up there <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0v-6z"/>
            </svg>'.
            <br/>Then, you should create an item in the box (you will find that in box list, also up there <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1H3.707l10.147 10.146a.5.5 0 0 1-.708.708L3 3.707V8.5a.5.5 0 0 1-1 0v-6z"/>
            </svg>).
            <br/>Finally, repeat all the steps all over again! (you should do step 3 (the step above) more often).
            </strong>
          </p>
          </div>
        </div>
      </div>
    </center>
{% endblock %}