{% extends 'mainApp/base.html'%}
 
{% block content %}
{% load static %}
{% if user.is_authenticated %}

<h1 class="courier">Generate Label</h1>
<a href="{% url 'print-pdf' %}">
    <button type="submit" value="Print" class="btn btn-outline-secondary" >Print</button>
</a>
<br>
<br/>
 
<div class="row g-3">
    {% for box in box_list %}
    <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title" id="courier">Box #{{ box.box_number }}<br/></h5> <strong class="courier"><i class="fa-solid fa-location-crosshairs"></i> Location:</strong>{{ box.box_location }}
                <br>
                <strong class="courier"> Date <i class="fa-solid fa-clock"></i>:</strong>{{ box.box_creation_date }}
                <br/>
                <strong class="courier"><i class="fa-solid fa-message"></i> Description: </strong>{{ box.box_description }}
            </div>
            <div class="card-body" id="courier">
                <ol>
                {% if user.is_authenticated %}
                {% for item in box_Item_list %}
                {% if item.box.id == box.id %}
                <li>{{ item.item_name }} </li>
                {% endif %}
                {% endfor %}
                {% endif %}
 
                {{ myvar }}
                </ol>
            </div>
        <div class="card-footer text-muted"></div>
    </div>
</div>
 
<br/><br/>
 
{% endfor %}
 
{% else %}
<h3>Sorry, You Are Not Able To View This Page(I Explained This On The Home Page, Try To Keep Up).</h3>
{% endif %}
 
 
{% endblock %}
